/* melakukan konfigurasi HTML dan BODY */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.65;
}


/* Mengatur navbar */
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #edf0f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-navigation ul {
    margin-right: 50px;
}

.nav-navigation ul li {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 4px;
    margin-left: 20px;
    background-color: #fdab00;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo img {
    width: 70px;
    mix-blend-mode: multiply;
    margin-left: 40px;
}

/* Hero Image */
.hero-container {
    padding-top: 80px;
    width: 100%;
    margin: auto;
}

.hero {
    height: 578px;
    background: url(../assets/hero_image/hero3.jpg);
    background-size: cover;
    background-position: 0px -50px;
    background-repeat: no-repeat;
}

.hero-text {
    padding: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Mengatur Headlines */
.headlines {
    display: flex;
    width: 800px;
    margin: 50px auto;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.our-headquarter {
    width: 100%;
}

.profile-headline h1 {
    margin-left: 100px;
}

.profile {
    display: flex;
    margin-left: 40px;
}

.profile-image {
    margin: 50px;
}

.profile-text {
    text-align: center;
}

.our-headquarter .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
}

/* mengatur main content */
/* Gambar */
.container-satu {
    display: flex;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.box-photo img {
    width: 480px;
    border-radius: 5px;
    flex: 1;
}

/* form */
.form-container {
    background-color: #edf0f4;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-container-text {
    width: 360px;
    padding-left: 20px;
}

.form div {
    margin: 10px;
}

.form div .input {
    width: 360px;
    height: 42px;
    border-radius: 4px;
    display: flex;
    border: #6e7783;
}

.form div button {
    width: 360px;
    height: 42px;
    background-color: #29323d;
    color: white;
}

/* user testimonial */
.testimoni {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

.testimoni img {
    width: 40px;
    margin-right: 20px;
    justify-content: center;
}


.box-container {
    display: flex;
    flex-direction: row;
    background-color: #fdab00;
}

.feature {
    display: flex;
}

.feature .icon img {
    width: 48px;
    padding: 15px;
    justify-content: center;
}

/* Fisrt Feature */

/* Our Package */
.our-package {
    margin: 50px auto;
    width: 960px;
    display: flex;
    justify-content: center;
    background-color: #edf0f4;
    padding: 20px;
}

/* package country */
.package-country {
    width: 960px;
    margin: 50px auto;
    display: flex;
}

.country {
    display: flex;
    justify-content: center;
}

.country img {
    margin: 20px;
    width: 48px;
}

.call-action {
    margin-top: 80px;
    margin-bottom: 80px;
}

.call-action .headlines {
    width: 960px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.call-action .headlines button {
    margin-top: 40px;
    width: 400px;
    height: 60px;
    border-radius: 4px;
    background-color: #29323D;
    font-size: 18px;
    color: white;
}
